{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% macro ucfirst(s) %}{{ (s[0] | upper) + s[1:] }}{% endmacro %}

{% block content %}
<div class="container my-2">
<div class="row">
<div class="col">
  {% include "flash_msg.html" %}
  <h1>Settings</h1>

  {% if form.errors %}
  <ul class="errors">
      {% for field in form %}
          {% for error in form.errors[field.name] %}
              <li>{{ field.label }}: {{ error }}</li>
          {% endfor %}
      {% endfor %}
  </ul>
  {% endif %}

  <form method="POST" role="form">

  <h4>Change comment</h4>
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.single.label }}
    {{ form.single(class="form-control") }}
  </div>

  <div class="form-group">
    {{ form.multi.label }}
    {{ form.multi(class="form-control") }}
    <small class="form-text text-muted">{{ form.multi.description }}</small>
  </div>

  <h4>Display preferences</h4>

  <div class="form-group">
    {{ form.units.label }}
    {{ form.units(class="form-control") }}
  </div>

  {#
  <h4>Editing</h4>

  <div class="form-group">
    {{ form.wikipedia_tag.label }}
    {{ form.wikipedia_tag(class="form-control") }}
  </div>
  #}

  <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
</div>
</div>
{% endblock %}
