{% from "macro.html" import place_box %}
{% extends "base.html" %}

{% block title %}{{ place.display_name }}:{% endblock %}

{% block content %}
  <div class="container my-2">
  <div class="row">
  <div class="col">
    <h1>{{ place.name }}</h1>

{% if table %}
    <p><a href="{{ place.candidates_url() }}">back to candidate list</a></p>
{% endif %}

  {{ place_box(place) }}

{% if table %}
<div id="notice" class="alert alert-danger" role="alert">
  <p>Please <strong>check each match carefully</strong> before uploading to OpenStreetMap.</p>
  <p>If in doubt, <strong>contact the local mapping community</strong> before adding Wikidata tags.</p>
</div>
{% endif %}

{% if table %}

  <div class="form-inline">
    <label for="comment">change comment:</label>
    {% set comment = 'add wikidata tag'
        if table | length == 1
        else ('add wikidata tags within ' + place.name_for_change_comment) %}
    <input class="form-control m-2"
           id="comment"
           name="comment"
           size="50"
           value="{{ comment }}" />

    <button id="save" class="btn btn-primary">save</button>
  </div>

    <p class="mt-2">
      <span id="status"></span>
      <span id="done">
        <a id="changeset-link" href="#">view your changeset</a>
        or
        <a href="{{ place.candidates_url() }}">go back to candidate list</a>
      </span>
    </p>

    <div class="progress">
        <div id="upload-progress" class="progress-bar" role="progressbar"></div>
    </div>

    <div class="my-3">
    <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th>Wikidata</th>
        <th>OSM</th>
        <th>distance</th>
        <th>matching tags</th>
      </tr>
    </thead>
    <tbody>
    {% set lang = place.most_common_language() %}
    {% for i, c in table %}
      <tr id="{{ i.qid }}-{{c.osm_type }}-{{ c.osm_id }}">
        <td>
          <a href="{{ url_for('item_page', wikidata_id=i.qid[1:]) }}">{{ i.label(lang=lang) }} ({{ i.qid }})</a></p>
        </td>
        <td>
          {% set m = c.get_match() %}
          <a href="https://www.openstreetmap.org/{{ c.osm_type }}/{{ c.osm_id }}">
            {{ (m.osm_key + '=' + m.osm_name) if m else c.name }}
          </a>
        </td>
        <td style="white-space:nowrap">
          ({{ c.osm_type}}{% if c.dist %},&nbsp;{{ c.dist | int }}&nbsp;m{% endif %})
        </td>
        <td>
          {{ ', '.join(c.matching_tags()) }}
        </td>
      </tr>
    {% endfor %}
    </table>

{% else %}
<p class="my-3">All done. <a href="{{ place.candidates_url() }}">go back to candidate list</a></p>

{% endif %}

</div>
</div>
</div>
{% endblock %}

{% block script %}

<script>
var open_changeset_url = {{ url_for('open_changeset', osm_id=place.osm_id, osm_type=place.osm_type) | tojson }};
var close_changeset_url = {{ url_for('close_changeset', osm_id=place.osm_id, osm_type=place.osm_type) | tojson }};

var items = {{ items | tojson }}

</script>


<script src="{{ url_for('static', filename='js/add_tags.js') }}"></script>
{% endblock %}
