{% from "macro.html" import place_box, candidate_info %}
{% extends "base.html" %}

{% block title %}{{ place.display_name }}:{% endblock %}

{% block content %}
  <div class="container my-2">
  <div class="row">
  <div class="col">
    <h1>{{ place.name }}</h1>
  {% set q = place.display_name %}

  {{ place_box(place) }}

  {% include "tabs.html" with context %}

  {% if overpass_error %}
    <div>&nbsp;</div>
    <h4>Overpass API error</h4>
    <pre>{{ overpass_error }}</pre>
  {% endif %}

  {% if not overpass_error and candidates %}
    {% if multiple_only %}
      <p>[Filter: <b>only multiple</b> <a href="{{ place.candidates_url() }}">(remove)</a>]
    {% else %}
      <p>[Filter: <a href="{{ place.candidates_url(multiple=1) }}">only multiple matches</a>]
    {% endif %}
  {% endif %}
  </div>
  </div>

  {% set lang = place.most_common_language() %}
  {% for item in items %}
    {% set fp = item.first_paragraph(languages) %}
    <div class="card my-2">
      <div class="card-body">
      <h5 class="card-title"><a href="{{ url_for('item_page', wikidata_id=item.item_id) }}">{{ item.label(lang=lang) }} ({{ item.qid }})</a></h5>
        {% if fp %}
          <div class="summary mt-0">
            <div><em>Summary from {{ fp.lang.label(with_code=False) }}
              Wikipedia ({{fp.lang.site_name}})</em></div>
            {{ fp.extract | safe }}
          </div>
        {% endif %}



    {# <br>
    <ul>
      <li>Categories:
      {% for cat in item.categories %}
          <a href="https://en.wikipedia.org/wiki/Category:{{ cat.replace(' ', '_') }}">{{ cat }}</a>{% if not loop.last %},{% endif %}
      {% endfor %}
      </li>
      <li>tags considered: {{ ', '.join(item.tag_list) }}</li>
    </ul> #}
    <ul>
    {% for c in item.candidates %}
      {{ candidate_info(c) }}
    {% endfor %}
    </ul>
      </div>
    </div>
  {% endfor %}

</div>
</div>
</div>
{% endblock %}
