<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    {% block title %}{% endblock %} OSM ↔ Wikidata
  </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap4/css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  {% block style %}
  {% endblock %}
</head>

<body>
  {% include 'navbar.html' %}
  {% block content %}{% endblock %}

  <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
  <script src="{{ url_for('static', filename='bootstrap4/js/bootstrap.js') }}"></script>
</body>
</html>
