<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    {% block title %}{% endblock %} OSM ↔ Wikidata
  </title>

  {% assets "style" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  {% block style %}
  {% endblock %}
</head>
{% from "navbar.html" import navbar with context %}

<body>
  <div class="container-fluid p-0">
  {{ navbar() }}
  {% block content %}{% endblock %}
  </div>

  {% assets "js" %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
  {% block script %}{% endblock %}
</body>
</html>
