{% from "macro.html" import place_box %}
{% extends "base.html" %}

{% block title %}{{ qid }}{% endblock %}

{% block content %}
<div class="container my-2">
<div class="row">
<div class="col">
<h1>{{ qid }}</h1>

<table class="table">
<thead>
<tr>
  <th>place</th>
  <th>matcher</th>
  <th class="text-right">area</th>
  <th class="text-right">population</th>
</tr>
</thead>
<tbody>
{% for row in rows %}
<tr>
  <td><a href="{{url_for(request.endpoint, item_id=row.item_id)}}">{{ row.label }}</a>
    ({{ row.qid }})
  </td>
  <td>
    {% if not row.area or row.area < 8000 %}
      <a href="{{ url_for('search_results', q=row.label + ', ' + row.start) }}">match</a>
    {% else %}
      too big for matcher
    {% endif %}
  </td>
  <td class="text-right">{{ '{:,d}'.format(row.area) if row.area else 'n/a' }}</td>
  <td class="text-right">{{ '{:,d}'.format(row.population) if row.population else 'n/a' }}</td>
</tr>
{% endfor %}
</tbody>
</table>

</div>
</div>
</div>
{% endblock %}
