{% extends "base.html" %}

{% block title %}{{ place.label }} ({{ place.qid }}){% endblock %}

{% block content %}
<div class="container my-2">
<div class="row">
<div class="col">
    <div>
      <h1>{{ self.title() }}</h1>
      <p><a href="https://wikidata.org/wiki/{{ place.qid }}">Wikidata</a></p>
      <div><a href="{{ url_for('matcher_wikidata', item_id=place.item_id) }}" class="btn btn-primary my-1">match</a><br>
    </div>

    <div>
    <a href="{{ url_for("browse_index") }}">Earth</a> &rarr;

    {% for continent in continents %}
    <a href="{{ url_for("browse_page", item_id=continent.item_id) }}">{{ continent.label }}</a>
    {% if not loop.last %}&amp;{% endif %}
    {% endfor %}
    {% if continents %} &rarr; {% endif %}
    {% for up in up_items %}
    <a href="{{ url_for("browse_page", item_id=up.item_id) }}">{{ up.label }}</a> &rarr;
    {% endfor %}
    {{ place.label }}
    </div>



    <div>{{ items | count }} areas</div>

    <div>
    {% for item in items %}
      <div>
        <a href="{{ item.link }}">{{ item.label }}</a> ({{ item.qid }}) &mdash;
        {{ item.description }}
        <a href="https://wikidata.org/wiki/{{ item.qid }}">wikidata</a>
        {% if item.osm_way %}
        <a href="https://www.openstreetmap.org/way/{{ item.osm_way }}">OSM way</a>
        {% endif %}
        {% if item.osm_relation %}
        <a href="https://www.openstreetmap.org/relation/{{ item.osm_relation }}">
          OSM relation
        </a>
        {% endif %}
        <a href="{{ url_for('matcher_wikidata', item_id=item.item_id) }}" class="btn btn-primary btn-sm my-1">match</a><br>
      </div>
    {% endfor %}
    </div>
    <p class="mt-2">Page took {{ "{:.1f}".format(query_time) }} seconds to render.</p>
</div>
</div>
</div>
{% endblock %}
