{% extends "base.html" %}

{% block title %}Browse{% endblock %}

{% block content %}
<div class="container my-2">
  <h1>Continents</h1>

  <div class="row row-cols-1 row-cols-md-3 g-4">

  {% for row in items %}
  <div class="col">
    <div class="card m-2 p-2">
      <a href="{{ row.link }}">
      <img src="{{ row.img_url }}" class="card-img-top">
      </a>
      <div class="card-body">
        <h5 class="card-title">
          <a href="{{ row.link }}">
          {{ row.label }} ({{ row.qid }})
          </a>
        </h5>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>


  {#
  {% for item in items %}
    {% set browse_url = url_for('browse_page', item_id=item.qid[1:]) %}
    <div>
      <h4>
        <a href="{{ browse_url }}">{{ item.label }}</a> <small>({{ item.qid }})</small></h4>
      <a href="{{ browse_url }}"><img src="{{ item.banner_url }}" class="img-fluid w-100" /></a>
      <p>{{ item.description }}</p>
      <p>{{ item.country_count }} countries -
      <a href="https://wikidata.org/wiki/{{ item.qid }}">view on Wikidata</a>
    </div>
  {% endfor %}
  #}

</div>
{% endblock %}
