<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ hit.display_name }}: OSM ◀ ▶ Wikidata</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap4/css/bootstrap.css') }}">
  <style>
    .box {
      border: 1px solid black;
      margin: 4px;
      padding: 4px;
    }
  </style>
</head>

<body>
  <div class="container-fluid">
  <div class="row">
  <div class="col">
  {% set name = hit.namedetails['name:en'] or hit.namedetails.name %}
  <h1>{{ name }}: OSM ◀ ▶ Wikidata</h1>
  {% set q = hit.display_name %}
  {% include "form.html" %}

    <div class="box">
      <b>{{ hit.display_name }}</b><br>
      category: {{ hit.category }}
      &mdash;
      type: {{ hit.type }}
      &mdash;
      OSM: <a href="https://www.openstreetmap.org/{{ hit.osm_type }}/{{ hit.osm_id }}">{{ hit.osm_type}} {{ hit.osm_id }}</a><br>
      {% if detail %}
        <pre>{{ hit | pprint }}</pre>
      {% endif %}
    </div>

  {% if overpass_error %}
    <div>&nbsp;</div>
    <h4>Overpass API error</h4>
    <pre>{{ overpass_error }}</pre>
  {% else %}
    <p>
    {{ '{:,d}'.format(full_count) }} candidates found
    ({{ '{:,d}'.format(multiple_match_count) }} with multiple matches)
    </p>
    {% set url = url_for('export_osm', osm_id=hit.osm_id, name=relation.export_name) %}
    <p><a href="{{ url }}">Download as OSM XML file</a></p>
  {% endif %}

  {% if not overpass_error and candidates %}
    {% if multiple_only %}
      <p>[Filter: <b>only multiple</b> <a href="{{ url_for(request.endpoint, osm_id=relation.osm_id) }}">(remove)</a>]
    {% else %}
      <p>[Filter: <a href="{{ url_for(request.endpoint, osm_id=relation.osm_id, multiple=1) }}">only multiple matches</a>]
    {% endif %}
  {% endif %}

  {% for i in candidates %}
    {% set osm_url = 'https://www.openstreetmap.org/#map=18/' + i.lat + '/' + i.lon %}
    <p>
    <a href="{{ i.wikidata_uri }}">{{ i.qid }}</a>
    &mdash; {{ i.label }}
    &mdash; <a href="{{ osm_url }}">Wikidata location on OSM</a>
    <br>
    <ul>
      <li>Categories: {{ ', '.join(i.cats) }}</li>
      <li>tags considered: {{ ', '.join(i.tags) }}</li>
      <li>possible matches:
    {% for c in i.candidates %}
      <a href="https://www.openstreetmap.org/{{ c.type }}/{{ c.id }}">{{ c.name }}</a> ({{ c.type}}, {{ c.dist | int }} m){% if not loop.last %},{% endif %}
    {% endfor %}
    </ul>
    </p>
  {% endfor %}
</div>
</div>
</div>
</body>
</html>
