{% extends "base.html" %}

{% block title %}{{ place.display_name }}:{% endblock %}

{% block content %}
  <div class="container my-2">
  <div class="row">
  <div class="col">
    <h1>{{ place.name }}</h1>
  {% set q = place.display_name %}

    <div class="box">
      <b>{{ place.display_name }}</b><br>
      category: {{ place.category }}
      &mdash;
      type: {{ place.type }}
      &mdash;
      OSM: <a href="https://www.openstreetmap.org/{{ place.osm_type }}/{{ place.osm_id }}">{{ place.osm_type}} {{ place.osm_id }}</a><br>
    </div>

  {% if overpass_error %}
    <div>&nbsp;</div>
    <h4>Overpass API error</h4>
    <pre>{{ overpass_error }}</pre>
  {% else %}
    <p>
    {{ '{:,d}'.format(full_count) }} candidates found
    ({{ '{:,d}'.format(multiple_match_count) }} with multiple matches)
    </p>
    {% set url = url_for('export_osm', osm_id=place.osm_id, name=place.export_name) %}
    <p><a href="{{ url }}">Download as OSM XML file</a></p>
  {% endif %}

  {% if not overpass_error and candidates %}
    {% if multiple_only %}
      <p>[Filter: <b>only multiple</b> <a href="{{ place.candidates_url() }}">(remove)</a>]
    {% else %}
      <p>[Filter: <a href="{{ place.candidates_url(multiple=1) }}">only multiple matches</a>]
    {% endif %}
  {% endif %}
  </div>
  </div>

  {% for i in candidates %}
  <div class="row">
  <div class="col-md-8">
    <p>
    <a href="{{ i.wikidata_uri }}">{{ i.qid }}</a>
    &mdash; {{ i.enwiki }}
    &mdash; <a href="{{ i.get_osm_url() }}">Wikidata location on OSM</a>
    <br>
    <ul>
      <li>Categories: {% for cat in i.categories %}
          <a href="https://en.wikipedia.org/wiki/Category:{{ cat.replace(' ', '_') }}">{{ cat }}</a>{% if not loop.last %},{% endif %}
      {% endfor %}</li>
      <li>tags considered: {{ ', '.join(i.tags) }}</li>
    </ul>
  </div>
  <div class="col-md-4">
    {% for c in i.candidates %}
    {% set m = c.get_match() %}
      <a href="https://www.openstreetmap.org/{{ c.osm_type }}/{{ c.osm_id }}">
        {{ (m.osm_key + '=' + m.osm_name) if m else c.name }}
      </a>
      ({{ c.osm_type}}{% if c.dist %}, {{ c.dist | int }} m{% endif %}){% if not loop.last %}<br>{% endif %}
    {% endfor %}
  </div>
  </div>
  {% endfor %}

  <h4>Items with no match found in OSM</h4>

  <p>{{ '{:,d}'.format(items_without_matches.count()) }} items</p>

  {% for i in items_without_matches %}
    <p>
      <a href="{{ i.wikidata_uri }}">{{ i.qid }}</a>
      &mdash; {{ i.enwiki }}
      &mdash; <a href="{{ i.get_osm_url() }}">Wikidata location on OSM</a>
      <br>
      <ul>
        {% if i.categories %}
          <li>Wikipedia categories: {{ ', '.join(i.categories) }}</li>
        {% endif %}
        {% if i.tags %}
          <li>possible OSM tags: {{ ', '.join(i.tags) }}</li>
        {% endif %}
      </ul>
    </p>
  {% endfor %}
  <h4>Wikidata SPARQL query</h4>
  <pre>{{ place.get_wikidata_query() }}</pre>

  <h4>Overpass</h4>

  <pre>{{ place.get_oql() }}</pre>

</div>
</div>
</div>
{% endblock %}
