{% extends "base.html" %}

{% block title %}Changes{% endblock %}

{% block content %}
<div class="container my-2">
<h1>Changes</h1>

<p>{{ '{:,d}'.format(objs.count()) }} changesets</p>

<table class="table table-hover">
{% for obj in objs %}
<tr>
<td class="text-nowrap">
    <a href="https://www.openstreetmap.org/changeset/{{ obj.id }}">
        {{- obj.created.strftime('%H:%M %a, %d %b %Y') if obj.created else obj.id -}}
    </a>
</td>
<td class="text-nowrap"><a href="https://www.openstreetmap.org/user/{{ obj.user.username }}">{{ obj.user.username }}</a></td>
<td class="text-right">{{ '{:,d}'.format(obj.update_count) }}</td>
<!-- <td>{{ obj.comment }}</td> -->
<td>
    {% if obj.place %}
        <a href="{{ obj.place.candidates_url() }}">{{ obj.place.name }}</a>
    {% elif obj.item_id %}
        {% set label = obj.item_label %}
        <a href="{{ url_for('item_page', wikidata_id=obj.item_id) }}">
            {% if label %}
                {{ label }} (Q{{ obj.item_id}})
            {% else %}
                Q{{ obj.item_id }}
            {% endif %}
        </a>
    {% else %}
        unknown location
    {% endif %}
</td>
</tr>
{% endfor %}
</table>

</div>
{% endblock %}
