{% extends "base.html" %}

{% block title %}Matching criteria: {% endblock %}

{% set image_size = 400 %}
{% block content %}
  <div class="m-2">
  <div class="container">
    <h1>Matching criteria</h1>
    <div class="card-columns">
  {% for i in entity_types %}
    <div class="card">
      {% if 0 and i.image %}
        {% set src=i.image.thumb_url_prefix ~ image_size ~ i.image.thumb_url_suffix %}
        <img class="card-img-top" src="{{ src }}" alt="{{ src }}"/>
      {% endif %}
      <p class="card-header">
        {{ i.name | capitalize }}
        <span class="text-muted small">({{i.dist}}km)</span>
        {% if i.check_housename %}<span class="badge badge-info">house name</span>{% endif %}
        {% if i.area %}<span class="badge badge-info">area</span>{% endif %}
      </p>
      <div class="card-block">
        <ul class="card-text list-unstyled">
            <li>categories:
          {% for cat in i.cats %}
            <a href="https://en.wikipedia.org/wiki/Category:{{ cat.replace(' ', '_') }}" class="text-nowrap">{{ cat.replace(' by country', '') }}</a>{% if not loop.last %},{% endif %}
          {% endfor %}
            </li>
            {% if i.exclude_cats %}
            <li>exclude categories:
          {% for cat in i.exclude_cats %}
            <a href="https://en.wikipedia.org/wiki/Category:{{ cat.replace(' ', '_') }}" class="text-nowrap">{{ cat.replace(' by country', '') }}</a>{% if not loop.last %},{% endif %}
          {% endfor %}
            </li>
          {% endif %}
            {% if i.trim %}
              <li>trim: {{ ', '.join(i.trim) }}</li>
            {% endif %}
          </ul>

        <ul class="card-text">
          {% for tag in i.tags %}
            <li>
            {% if '=' in tag %}
              <a href="https://taginfo.openstreetmap.org/tags/{{ tag }}">{{ tag }}</a>
            {% else %}
              <a href="https://taginfo.openstreetmap.org/keys/{{ tag }}" class="text-nowrap">{{ tag }}</a>
            {% endif %}
              {% if tag in taginfo %}({{ '{:,d}'.format(taginfo[tag].count_all) }}){% endif -%}
            </li>
          {% endfor %}
        </ul>
        {% if i.wikidata %}
          <a href="https://wikidata.org/wiki/{{ i.wikidata }}" class="card-link">Wikidata: {{ i.wikidata }}</a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
    </div>
  </div>
  </div>
{% endblock %}
