{% extends "base.html" %}

{% block title %}Space{% endblock %}

{% block content %}
<div class="container my-2">
    {% include "flash_msg.html" %}
    <h1>{{ self.title() }}</h1>

    <p>free space: {{ free_space | filesizeformat }}

    {% if 'MIN_FREE_SPACE' in config %}
      {% set min_free_space = config['MIN_FREE_SPACE'] %}
      (admin alert when less than {{ min_free_space | filesizeformat }})
    {% endif %}

    </p>

    <form method="POST" action="{{ url_for('delete_places', next=request.endpoint) }}">
    <input type="submit" class="btn btn-danger btn-sm" value="delete selected">
    <table class="table">
    {% for place in items %}
      {% set place_id = place.place_id %}
      <tr onclick="toggle_checkbox({{place_id}})">
      <td><input id="delete_{{ place_id }}" name="place" type="checkbox" value="{{ place_id }}"></td>
      <td class="text-nowrap text-right">
      {% if place.size %}
          {{ place.size | filesizeformat }}
      {% endif %}
      </td>
      <td>
        <a href="{{ place.candidates_url }}">{{ place.display_name.replace(';', '; ') }}</a>
        {% if place.recent %}
          ({{ place.recent.date() }})
        {% endif %}
      </td>
      <td>{{ place.state }}</td>
      <td>{{ place.changesets }}</td>
    </tr>
    {% endfor %}
    </table>
    <input type="submit" class="btn btn-danger btn-sm" value="delete selected">
    </form>

</div>
{% endblock %}

{% block script %}
<script>
function toggle_checkbox(place_id) {
  document.getElementById('delete_' + place_id).checked ^= 1;
}
</script>
{% endblock %}
