{% extends "base.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
  {% include "flash_msg.html" %}
  <h1 class="display-3">OSM ↔ Wikidata matcher</h1>
  <p class="lead">Two great projects cataloguing the world, even more powerful when linked together.</p>
  <hr class="my-4">
  <p>Search for a place, pick one and leave the matcher to run for a few minutes. Then check out the list of matches.</p>

<form action="{{ url_for('search_results') }}" class="form-inline">
  <label for="q" class="sr-only">search:</label>
  <input class="form-control form-control-lg m-2" id="q" name="q" size="40" value="{{ q }}" placeholder="place name">
  <input type="submit" class="btn btn-success btn-lg" value="search">
</form>

</div>
</div>

<div class="container-fluid">
  {{ place_cards | safe }}
  <div class="text-right"><a href="{{ url_for('saved_places') }}">more places &hellip;</a>
</div>

{% endblock %}
