{% extends "base.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
  {% include "flash_msg.html" %}
  <h1 class="display-3">OSM ↔ Wikidata matcher</h1>
  <p class="lead">Two great projects cataloguing the world, even more powerful when linked together.</p>
  <hr class="my-4">
  <p>Search for a place, pick one and leave the matcher to run for a few minutes. Then check out the list of matches.</p>

<form action="{{ url_for('search_results') }}" class="form-inline">
  <label for="q" class="sr-only">search:</label>
  <input class="form-control form-control-lg m-2" id="q" name="q" size="40" value="{{ q }}" placeholder="place name">
  <input type="submit" class="btn btn-success btn-lg" value="search">
</form>

</div>
</div>

<div class="container">
  {{ place_cards | safe }}
  <div class="text-right"><a href="{{ url_for('saved_places') }}">more places &hellip;</a>
  {#
  <p>The aim is for a single OSM entity to link to one Wikidata item. Many geographical entities are represented by multiple objects in OSM with the same name, for example dual carriageway bridges are mapped as two roadways, or buildings within a large site like a hospital.</p>
  <p>The matching system makes use of categories on Wikipedia because the information on Wikidata is incomplete. Wikidata includes an import of all Wikipedia including the coordinates, but for a lot of items the 'instance of' property is not set.</p>
  <p>Only Wikidata items with a page on English language Wikipedia are included in the match. In the future I'll add support for matching items without a linked Wikipedia article.</p>
  #}
</div>

{% endblock %}
