{% extends "base.html" %}

{% block content %}

<div class="container my-2">
<div class="row">
<div class="col">

  <h1>{{ en_label }} ({{ qid }})</h1>

  <p>{{ '{:,d}'.format(items|count) }} items found.</p>

  {% if items %}
    <table class="table">
    {% for item in items %}
      <tr>
      <td>Q{{ item.id }}</td>
      <td>{{ item.label }}</td>
      <td>{{ item.country or 'n/a' }}</td>
      <td class="text-nowrap">
        [
        <a href="{{ url_for('item_page', wikidata_id=item.id) }}">item page</a> |
        <a href="https://www.wikidata.org/wiki/Q{{ item.id }}">Wikidata</a>
        ]
      </td>
    </tr>
    {% endfor %}
    </table>
  {% endif %}

</div>
</div>
</div>

{% endblock %}
