{% extends "base.html" %}

{% block content %}
<div class="m-3">
  <div class="container">

    <h1>{{ qid }}: {{ label }}</h1>
    <h3>coords</h3>
    <pre>{{ coords | pprint }}</pre>
    <h3>labels</h3>
    <pre>{{ entity['labels'] | pprint }}</pre>
    <h3>aliases</h3>
    <pre>{{ entity['aliases'] | pprint }}</pre>
    <h3>site links</h3>
    <pre>{{ entity['sitelinks'] | pprint }}</pre>

    <h3>wikidata names</h3>
    <pre>{{ wikidata_names | pprint }}</pre>

    <h3>osm_keys</h3>
    <table class="table">
    {% for row in osm_keys %}
      <tr>
        <td>{{ row['item']['value'] }}</td>
        <td>{{ row['label']['value'] }}</td>
        <td>{{ row['tag']['value'] }}</td>
    {% endfor %}
    </table>

    <h3>oql</h3>
    <pre>{{ oql }}</pre>
    <h3>overpass result</h3>
    <pre>{{ overpass_reply['elements'] | pprint }}</pre>

    <h3>matches</h3>
    {% for element, match in found %}
      <pre>{{ element | pprint }}</pre>
    {% endfor %}

  </div>
</div>
{% endblock %}
