{% from "macro.html" import taginfo_link %}
{% extends "base.html" %}

{% block title %}{{ label }} ({{ qid }}){% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='leaflet/leaflet.css') }}">
<style>
#mapid { height: 400px; }
</style>
{% endblock %}

{% block script %}
  {% if lat is not none and lon is not none %}
  <script src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>

  <script>
    var lat = {{ '{:.4f}'.format(lat) }};
    var lon = {{ '{:.4f}'.format(lon) }};
    var map = L.map('mapid').setView([lat, lon], 18);

    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
    var marker = L.marker([lat, lon]).addTo(map);

  </script>
  {% endif %}

  {% if item and item.candidates.count() > 1 %}
  <script>
  $('#add-tag').attr('disabled', true);

  $('input:radio').change(function() {
      $('#add-tag').attr('disabled', false);
  });
  </script>
  {% endif %}
{% endblock %}

{% block content %}
<div class="m-3">
  <div class="container">
    {% include "flash_msg.html" %}

    <h1>{{ label }} ({{ qid }})</h1>
    <ul>
      {% if item %}
      <li>matcher place:
        {% for place in item.places %}
            <a href="{{ place.candidates_url() }}">{{ place.name }}</a> ({{ place.osm_type }} {{ place.osm_id }})
            {%- if not loop.last %}, {% endif %}
        {% endfor %}
      </li>
      {% endif %}
      <li><a href="http://wikidata.org/wiki/{{ qid }}">view on Wikidata</a></li>
      {% if not (lat and lon) %}
      <li>no coordinates for item</li>
      {% endif %}

      {% if sitelinks %}
      <li>Wikipedia:
          {% for link in sitelinks %}<a href="{{ link.url }}">{{ link.lang }}</a>
{%- if not loop.last %}, {% endif %}{% endfor %}
      </li>
      {% endif %}
      {% if 'commonswiki' in entity.sitelinks %}
      <li><a href="https://commons.wikimedia.org/wiki/{{ entity.sitelinks.commonswiki.title.replace(' ', '_') }}">Wikimedia Commons</a>
      </li>
      {% endif %}

      {% if item and item.categories %}
        <li>English Wikipedia categories:
        {% for cat in item.categories %}
            <a href="https://en.wikipedia.org/wiki/Category:{{ cat.replace(' ', '_') }}">{{ cat }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
        </li>
      {% endif %}

      {% if oql %}
      <li>Overpass query:
        <a href="#" id="oql-toggle">show query</a>
        &ndash;
        <a href="https://overpass-turbo.eu/?Q={{ oql.replace('qt center tags', 'geom') | urlencode }}&R">Overpass Turbo</a>
        <pre id="oql">{{ oql }}</pre>
      </li>
      {% endif %}

    </ul>

    {% if lat is not none and lon is not none %}
    <div>Wikidata location: {{ '{:.4f}'.format(lat) }}, {{ '{:.4f}'.format(lon) }}
        <a href="https://www.openstreetmap.org/#map=18/{{ lat }}/ {{ lon }}">view on OSM</a>
    </div>

    <div id="mapid"></div>

    {% endif %}

    {#

    <h3>labels</h3>
    <pre>{{ entity['labels'] | pprint }}</pre>
    {% if entity.aliases %}
      <h3>aliases</h3>
      <pre>{{ entity.aliases | pprint }}</pre>
    {% endif %}
    <h3>site links</h3>
    <pre>{{ entity.sitelinks | pprint }}</pre>

    <h3>wikidata names</h3>
    <pre>{{ wikidata_names | pprint }}</pre>

    #}

    {% if overpass_reply and not found %}
        <h3>overpass result</h3>
        {% if overpass_reply['elements'] | count > 10 %}
            <p>more than 10 results</p>
        {% else %}
            <pre>{{ overpass_reply['elements'] | pprint }}</pre>
        {% endif %}
    {% endif %}

    <h3>matches</h3>
    {% if upload_option %}
    <form method="post" action="{{ url_for('add_wikidata_tag') }}">
      <input type="hidden" name="wikidata" value="{{ qid }}" />
    {% endif %}
    {% if item %}

      {% if not g.user.is_authenticated %}
        <p><a class="btn btn-primary" href="{{ url_for('social.auth', backend='openstreetmap', next=request.script_root + request.full_path) }}">login to upload wikidata tags</a></p>
      {% endif %}

      {% set candidate_count = item.candidates.count() %}
      {% if candidate_count == 0 %}
        <p>no matches found</p>
      {% elif candidate_count == 1 %}
        <p>found a single match candidate</p>
      {% else %}
        <p>found {{ candidate_count }} matches candidate</p>
      {% endif %}

      {% for c in item.candidates %}
        {% set is_bad = c.bad_matches.count() %}
        {% set m = c.get_match() %}
        <div>
          {% if 'wikidata' not in c.tags and upload_option %}
            <input type="radio"
                   name="osm"
                   value="{{ c.osm_type }}/{{ c.osm_id }}"
                   {% if item.candidates.count() == 1 %}
                       checked="checked"
                   {% endif %} />
          {% endif %}
          {{c.osm_type}}:
          <a href="{{ url_for('match_detail', item_id=c.item_id, osm_type=c.osm_type, osm_id=c.osm_id) }}">{{ c.label }}</a>
          <a href="https://www.openstreetmap.org/{{ c.osm_type }}/{{ c.osm_id }}">(OSM)</a>
          {% if c.dist -%},
             {{ c.dist | int }} m from Wikidata
          {%- else -%}
              <span class="badge badge-success">exact location match</span>
          {% endif %}
          {% if is_bad %}
              <span class="badge badge-danger">bad match reported</span>
          {% endif %}
          <a href="#" class="show-tags-link" data-key="{{ c.key }}">[show tags]</a>
          {% if not is_bad and g.user.is_authenticated %}
              <a href="#" class="bad-match-link" data-key="{{ c.key }}">[report bad match]</a>
          {% endif %}

           <div class="all-tags" id="candidate-{{ c.key }}">
             {% for k, v in c.tags.items() if k != 'way_area' %}
              {{ k }}: {{ v }}</br>
             {% endfor %}
           </div>
          {% if is_bad %}
            {% for bad in c.bad_matches %}
            <div class="alert alert-danger mt-2">
            <strong><a href="https://www.openstreetmap.org/user/{{ bad.user.username }}" class="alert-link">{{ bad.user.username }}</a></strong> reported this as a bad match ({{ bad.created.strftime('%H:%M %a, %d %b %Y') }})
            </div>
            {% endfor %}
          {% elif g.user.is_authenticated %}
     <div class="bad-match" id="bad-match-{{ c.key }}">
       <form method="POST" action="{{ url_for('bad_match', item_id=c.item_id, osm_type=c.osm_type, osm_id=c.osm_id) }}">
         <div class="form-group">
           <label for="comment">what's wrong with this match? (optional)</label>
           <textarea class="form-control" id="comment" rows="3"></textarea>
         </div>

         <button class="btn btn-danger btn-sm">report as bad match</button>
       </form>
     </div>
          {% endif %}
           {% if 'wikidata' in c.tags %}
             <br>
             {% if c.tags.wikidata == c.item.qid %}
               wikidata <span class="match">match</span>: {{ c.tags.wikidata }}
             {% else %}
               wikidata <span class="mismatch">mismatch</span>: <a href="https://www.wikidata.org/wiki/{{ c.tags.wikidata }}">{{ c.tags.wikidata }}</a>
             {% endif %}
           {% endif %}
          </div>
      {% endfor %}
    {% else %}
      {% if not found %}
          <p>no matches found</p>
      {% else %}
        {% for c, m in found %}
          <div>
            {% if 'wikidata' not in c.tags and upload_option %}
              <input type="radio"
                     name="osm"
                     value="{{ c.osm_type }}/{{ c.osm_id }}"
                     {% if found | count == 1 %}
                     checked="checked"
                     {% endif %} />
            {% endif %}
            <a href="https://www.openstreetmap.org/{{ c.type }}/{{ c.id }}">
            {{ (m.osm_key + '=' + m.osm_name) if m else c.tags.name -}}
            </a> ({{ c.type}})

           <a href="#" class="show_tags_link" data-key="{{ c.key }}">show all tags</a>
           <div class="all_tags" id="candidate{{ c.key }}">
             {% for k, v in c.tags|dictsort %}
              {{ k }}={{ v }}</br>
             {% endfor %}
           </div>
          {% if 'wikidata' in c.tags %}
            <p>OSM already includes wikidata tag.</p>
          {% endif %}
           </div>

        {% endfor %}
        </ul>
      {% endif %}
    {% endif %}

    {% if upload_option %}
      <label for="comment">change comment:</label>
      <input class="form-control m-2"
             id="comment"
             name="comment"
             size="40"
             value="add wikidata tag to {{ label }}" />

      <button id='add-tag' class="btn btn-primary mb-2">add wikidata tag to OpenStreetMap</button>
      </form>
    {% endif %}

    {% if wikidata_osm_tags %}
        <h3 class="my-2">Search criteria from Wikidata</h3>
        <p><a href="http://query.wikidata.org/#{{ wikidata_query | urlencode }}">view with query.wikidata.org</a></p>
        <table class="table table-responsive table-hover table-sm">
        {% for qid, wd in wikidata_osm_tags | dictsort %}
        <tr>
            <td>
                {% if wd.label %}
                    <a href="{{ wd.uri }}">{{ wd.label }}</a> ({{ qid }})
                {% else %}
                    <a href="{{ wd.uri }}">{{ qid }}</a>
                {% endif %}
            </td>
            <td>
                {% for tag in wd.tags %}
                  {{ taginfo_link(tag) -}}
                  {%- if not loop.last %},{% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
        </table>

    {% endif %}

    {% if category_map %}
    <h3 class="mt-2">Search criteria from categories</h3>
    <table class="table table-responsive table-hover table-sm">
    {% for cat, tags in category_map | dictsort %}
      <tr>
        <td>
          <a href="https://en.wikipedia.org/wiki/Category:{{ cat.replace(' ', '_') }}">{{ cat }}</a>
        </td>
        <td>
          {% for tag in tags %}
            {{ taginfo_link(tag) -}}{%- if not loop.last %},{% endif %}
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
    </table>
    {% endif %}


  </div>
</div>
{% endblock %}


