{% extends "base.html" %}

{% block content %}
<div class="m-3">
  <div class="container">
    {% include "flash_msg.html" %}

    <h1>{{ label }} ({{ qid }})</h1>
    <ul>
      <li><a href="http://wikidata.org/wiki/{{ qid }}">view on Wikidata</a></li>
      <li><a href="http://query.wikidata.org/#{{ wikidata_query | urlencode }}">Wikidata query</a></li>
      <li>coordinates: {{ '{:.4f}'.format(lat) }}, {{ '{:.4f}'.format(lon) }}
        <a href="https://www.openstreetmap.org/#map=18/{{ lat }}/ {{ lon }}">view on OSM</a>
      </li>
    </ul>

    <h3>labels</h3>
    <pre>{{ entity['labels'] | pprint }}</pre>
    {% if entity.aliases %}
      <h3>aliases</h3>
      <pre>{{ entity.aliases | pprint }}</pre>
    {% endif %}
    <h3>site links</h3>
    <pre>{{ entity['sitelinks'] | pprint }}</pre>

    <h3>wikidata names</h3>
    <pre>{{ wikidata_names | pprint }}</pre>

    {% if osm_keys %}

    <h3>osm_keys</h3>
    <table class="table table-responsive table-hover table-sm">
    {% for row in osm_keys %}
      <tr>
        <td>{{ row['item']['value'] }}</td>
        <td>{{ row['itemLabel']['value'] }}</td>
        <td>{{ row['tag']['value'] }}</td>
    {% endfor %}
    </table>

    <h3>oql</h3>
    <pre>{{ oql }}</pre>
    {% if not found %}
        <h3>overpass result</h3>
        {% if found | count > 10 %}
            <p>more than 10 results</p>
        {% else %}
            <pre>{{ overpass_reply['elements'] | pprint }}</pre>
        {% endif %}
    {% endif %}

    <h3>matches</h3>
    {% if not found %}
        <p>no matches found</p>
    {% endif %}
    {% for element, match in found %}
      <pre>{{ element | pprint }}</pre>
      {% if 'wikidata' not in element.tags %}
        <form method="post" action="{{ url_for('add_wikidata_tag') }}">
          <input type="hidden" name="osm_id" value="{{ element.id }}" />
          <input type="hidden" name="osm_type" value="{{ element.type }}" />
          <input type="hidden" name="wikidata" value="{{ qid }}" />
          <button class="btn btn-primary" type="submit">add wikidata tag to OSM</button>
        </form>
      {% else %}
        <p>OSM already includes wikidata tag.</p>
      {% endif %}
    {% endfor %}

    {% endif %}

  </div>
</div>
{% endblock %}
