{% macro place_box(place) %}
<div class="box">
  <b>{{ place.display_name }}</b><br>
  category: {{ place.category }}
  &mdash;
  type: {{ place.type }}
  &mdash;
  OSM: <a href="https://www.openstreetmap.org/{{ place.osm_type }}/{{ place.osm_id }}">{{ place.osm_type}} {{ place.osm_id }}</a><br>
</div>
{% endmacro %}

{% macro taginfo_link(tag) %}{% if '=' in tag %}<a href="https://taginfo.openstreetmap.org/tags/{{ tag }}">{{ tag }}</a>{% else %}<a href="https://taginfo.openstreetmap.org/keys/{{ tag }}" class="text-nowrap">{{ tag }}</a>{% endif -%}{%- endmacro -%}

{% macro candidate_info(c, filtered={}, is_bad=false) %}
  {% set m = c.get_match() %}
    <li>{{c.osm_type}}:
      <a href="{{ url_for('match_detail', item_id=c.item_id, osm_type=c.osm_type, osm_id=c.osm_id) }}">{{ c.label }}</a>
      <a href="https://www.openstreetmap.org/{{ c.osm_type }}/{{ c.osm_id }}">(OSM)</a>
    {% if c.dist and c.dist > 1 %}
     {{ c.dist | int }} m from Wikidata
    {% else %}
      <span class="badge badge-success">exact location match</span>
    {% endif %}
     {# {{ ', '.join(c.matching_tags()) }} #}

       {% if is_bad %}
         <span class="badge badge-danger">bad match reported</span>
       {% elif c.item_id in filtered and c == filtered[c.item_id] %}
         <span class="badge badge-info">best match</span>
       {% endif %}

     <a href="#" class="show-tags-link" data-key="{{ c.key }}">[show tags]</a>
     {% if not is_bad %}
         <a href="#" class="bad-match-link" data-key="{{ c.key }}">[report bad match]</a>
     {% endif %}
     <div class="all-tags" id="candidate-{{ c.key }}">
       {% for k, v in c.tags.items() if k != 'way_area' %}
        {{ k }}: {{ v }}</br>
       {% endfor %}
     </div>
     {% if not is_bad %}
     <div class="bad-match" id="bad-match-{{ c.key }}">
       <form method="POST" action="{{ url_for('bad_match', item_id=c.item_id, osm_type=c.osm_type, osm_id=c.osm_id) }}">
         <div class="form-group">
           <label for="comment">what's wrong with this match? (optional)</label>
           <textarea class="form-control" id="comment" rows="3"></textarea>
         </div>

         <button class="btn btn-danger btn-sm">report as bad match</button>
       </form>
     </div>
     {% endif %}

     {% if 'wikidata' in c.tags %}
       <br>
       {% if c.tags.wikidata == c.item.qid %}
         wikidata <span class="match">match</span>: {{ c.tags.wikidata }}
       {% else %}
         wikidata <span class="mismatch">mismatch</span>: <a href="https://www.wikidata.org/wiki/{{ c.tags.wikidata }}">{{ c.tags.wikidata }}</a>
       {% endif %}
     {% endif %}
    </li>
{% endmacro %}

{% macro render_pagination(pagination) %}
{% if pagination.pages > 1 %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
  {% if pagination.has_prev %}
		<li class="page-item"><a class="page-link" href="{{ url_for_other_page(pagination.page - 1) }}">&laquo; Previous</a></li>
  {% endif %}
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
		<li class="page-item"><a class="page-link" href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
      {% else %}
        <li class="page-item active"><a class="page-link" href="{{ url_for_other_page(page) }}">{{ page }} <span class="sr-only">(current)</span></a></li>
      {% endif %}
    {% else %}
      <li><span class="ellipsis">…</span></li>
    {% endif %}
  {%- endfor %}
  {% if pagination.has_next %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for_other_page(pagination.page + 1) }}" aria-label="Next">
        <span aria-hidden="true">Next &raquo;</span>
      </a>
    </li>
  {% endif %}
  </ul>
</nav>
{% endif %}
{% endmacro %}
