{% macro place_box(place) %}
<div class="box">
  <b>{{ place.display_name }}</b><br>
  category: {{ place.category }}
  &mdash;
  type: {{ place.type }}
  &mdash;
  OSM: <a href="https://www.openstreetmap.org/{{ place.osm_type }}/{{ place.osm_id }}">{{ place.osm_type}} {{ place.osm_id }}</a><br>
</div>
{% endmacro %}

{% macro taginfo_link(tag) %}{% if '=' in tag %}<a href="https://taginfo.openstreetmap.org/tags/{{ tag }}">{{ tag }}</a>{% else %}<a href="https://taginfo.openstreetmap.org/keys/{{ tag }}" class="text-nowrap">{{ tag }}</a>{% endif -%}{%- endmacro -%}

{% macro candidate_info(c, is_picked=false, is_bad=false, show_tags=false, identifiers=false) %}
  {% set search_tags = c.item.tags %}
  {% set m = c.get_match() %}
    <li>{{c.osm_type}}:
      <a href="{{ url_for('match_detail', item_id=c.item_id, osm_type=c.osm_type, osm_id=c.osm_id) }}">{{ c.label_best_language(languages) }}</a>
      <a href="https://www.openstreetmap.org/{{ c.osm_type }}/{{ c.osm_id }}">(OSM)</a>
    {% if c.dist and c.dist > 1 %}
     {{ c.display_distance() }} from Wikidata
    {% else %}
      <span class="badge badge-success">exact location</span>
    {% endif %}
     {# {{ ', '.join(c.matching_tags()) }} #}

       {% if is_bad %}
         <span class="badge badge-danger">bad match reported</span>
       {% elif is_picked %}
         <span class="badge badge-info">best match</span>
       {% endif %}

     {% if c.identifier_match %}
         <span class="badge badge-success">identifier match</span>
     {% endif %}

     {% if c.name_match %}
         <span class="badge badge-success">name match</span>
     {% endif %}

     {% if c.address_match %}
         <span class="badge badge-success">address match</span>
     {% endif %}

     {% if show_tags %}
         <a href="#" class="show-tags-link" data-key="{{ c.key }}">[hide tags]</a>
     {% else %}
         <a href="#" class="show-tags-link" data-key="{{ c.key }}">[show tags]</a>
     {% endif %}
     {% if not is_bad and g.user.is_authenticated %}
         <a href="#" class="bad-match-link" id="report-link-{{ c.key }}" data-key="{{ c.key }}">[report bad match]</a>
     {% endif %}
     {% if is_bad %}
         {% for bad in c.bad_matches %}
            <div class="alert alert-danger mt-2">
            <strong><a href="https://www.openstreetmap.org/user/{{ bad.user.username }}" class="alert-link">{{ bad.user.username }}</a></strong> reported this as a bad match ({{ bad.created.strftime('%H:%M %a, %d %b %Y') }})
            {% if bad.comment %}
                <div>{{ bad.comment | newline_br }}</div>
            {% endif %}
            </div>
         {% endfor %}
     {% endif %}
     <div{% if not show_tags %} class="hide-all-tags"{% endif %} id="candidate-{{ c.key }}">
       {% for k, v in c.tags.items() if k != 'way_area' %}
        {% set tag = k + '=' + v %}
        {% if c.name_match and k in c.name_match %}
          <b>{{ tag }}</b> ({{ c.name_match_count(k) }} name matches)
        {% elif k in search_tags or tag in search_tags %}
            <b>{{ tag }}</b> (OSM tag matches Wikidata or Wikipedia category)
        {% elif identifiers and k in identifiers and v in identifiers[k] %}
          <b>{{ tag }}</b> (OSM tag matches Wikidata identifier)
        {% else %}
            {{ tag }}
        {% endif %}<br />
       {% endfor %}
     </div>
     {% if not is_bad and g.user.is_authenticated %}
     <div class="bad-reported" id="reported-{{ c.key }}">
        <span class="badge badge-danger">bad match report saved</span>
     </div>
     <div class="bad-match" id="bad-match-{{ c.key }}">
       <div class="form-group">
         <label for="comment-{{ c.key }}">what's wrong with this match? (optional)</label>
         <textarea class="form-control" id="comment-{{ c.key }}" rows="3"></textarea>
       </div>

       <button class="btn btn-danger btn-sm bad-match-save" data-item="{{ c.item_id }}" data-osm-type="{{ c.osm_type }}", data-osm-id="{{ c.osm_id }}" data-key="{{ c.key }}">report as bad match</button>
     </div>
     {% endif %}

     {% if 'wikidata' in c.tags %}
       <br>
       {% if c.tags.wikidata == c.item.qid %}
         wikidata <span class="match">match</span>: {{ c.tags.wikidata }}
       {% else %}
         wikidata <span class="mismatch">mismatch</span>: <a href="https://www.wikidata.org/wiki/{{ c.tags.wikidata }}">{{ c.tags.wikidata }}</a>
       {% endif %}
     {% endif %}
    </li>
{% endmacro %}

{% macro render_pagination(pagination) %}
{% if pagination.pages > 1 %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
  {% if pagination.has_prev %}
		<li class="page-item"><a class="page-link" href="{{ url_for_other_page(pagination.page - 1) }}">&laquo; Previous</a></li>
  {% endif %}
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
		<li class="page-item"><a class="page-link" href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
      {% else %}
        <li class="page-item active"><a class="page-link" href="{{ url_for_other_page(page) }}">{{ page }} <span class="sr-only">(current)</span></a></li>
      {% endif %}
    {% else %}
      <li><span class="ellipsis">…</span></li>
    {% endif %}
  {%- endfor %}
  {% if pagination.has_next %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for_other_page(pagination.page + 1) }}" aria-label="Next">
        <span aria-hidden="true">Next &raquo;</span>
      </a>
    </li>
  {% endif %}
  </ul>
</nav>
{% endif %}
{% endmacro %}
