{% macro nav_item(name) %}
<li class="nav-item{% if name == active %} active{% endif %}">
  <a class="nav-link" href="{{ url_for(name) }}">{{ navbar_pages[name] }}{% if name == active %} <span class="sr-only">(current)</span>{% endif %}</a>
</li>
{% endmacro %}

{% macro dropdown_item(name) %}
    <a class="dropdown-item" href="{{ url_for(name) }}">{{ navbar_pages[name] }}</a>
{% endmacro %}


<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
<div class="container">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{{ url_for('index') }}">OSM ↔ Wikidata</a>

  <form class="form-inline" action="{{ url_for('search_results') }}">
    <input class="form-control mr-sm-2" name="q" type="text" placeholder="Search">
  </form>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <ul class="navbar-nav mr-auto">
      {% if g.user.is_authenticated %}
        {{ nav_item('changesets') }}
      {% endif %}
      {{ nav_item('tag_list') }}
      {# {{ nav_item('saved_places') }} #}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {{ dropdown_item('documentation') }}
          {{ dropdown_item('criteria_page') }}
        </div>
      </li>
    </ul>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        {% if g.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="https://www.openstreetmap.org/user/{{ g.user.username }}/history">{{ g.user.username }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout', next=request.script_root + request.full_path) }}">logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('social.auth', backend='openstreetmap', next=request.script_root + request.full_path) }}">login with OSM</a>
          </li>
        {% endif %}
    </ul>
  </div>


</div>
</nav>
