<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ place.display_name }}: OSM ◀ ▶ Wikidata</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap4/css/bootstrap.css') }}">
  <style>
    .box {
      border: 1px solid black;
      margin: 4px;
      padding: 4px;
    }
  </style>
</head>

<body>
  <div class="container-fluid">
  <div class="row">
  <div class="col">
    <h1>{{ place.name }}: OSM ◀ ▶ Wikidata</h1>
  {% set q = place.display_name %}
  {% include "form.html" %}

    <div class="box">
      <b>{{ place.display_name }}</b><br>
      category: {{ place.category }}
      &mdash;
      type: {{ place.type }}
      &mdash;
      OSM: <a href="https://www.openstreetmap.org/{{ place.osm_type }}/{{ place.osm_id }}">{{ place.osm_type}} {{ place.osm_id }}</a><br>
    </div>

  <pre>{{ place.get_oql() }}</pre>

</div>
</div>
</div>
</body>
</html>
