{% extends "base.html" %}

{% block title %}
{{ g.filter ~ ' - ' if g.get('filter') }}
{% endblock %}

{% block content %}
  <div class="container my-2">
<h1>{% if g.get('filter') %}{{ g.filter }}{% else %}Saved places{% endif %}</h1>

<p>These places have been analysed and the match results records.</p>

<table class="table table-sm table-hover m-2">
  <thead>
    <tr>
      <th>
<form action="{{ url_for('saved_places') }}" class="form-inline">
        <a href="{{ sort_link('name') }}">name</a>
  <input name="filter" class="form-control ml-2" size="20" value="{{ g.get('filter', '') }}">
  <input type="submit" class="btn-secondary btn mx-2" value="filter">
  {% if g.get('filter') %}<a style="font-weight: normal" href="{{ url_for('saved_places') }}">clear filter</a>{% endif %}
</form>
      </th>
      <th class="text-right"><a href="{{ sort_link('item') }}">item<br>count</a></th>
      <th class="text-right"><a href="{{ sort_link('match') }}">match<br>count</a></th>
      <th class="text-right"><a href="{{ sort_link('ratio') }}">match<br>ratio</a></th>
      <th class="text-right"><a href="{{ sort_link('area') }}">area<br>(km&sup2;)</a></th>
    </tr>
  </thead>
  <tbody>
  {{ place_tbody | safe }}
  </tbody>
</table>
</div>
{% endblock %}
