{% from "macro.html" import place_box %}
{% extends "base.html" %}

{% block title %}{{ place.display_name }}:{% endblock %}

{% block content %}
{% set place_id = place.place_id %}
{% set osm_id = place.osm_id %}
{% set osm_type = place.osm_type %}
{% set item_list = place.item_list() %}

  <div class="container my-2">

  <div class="alert alert-info" role="alert">
    <p>Downloading data from the Overpass API can fail if the area is too large or dense.</p>
    <p>Frequent access of the Overpass API can cause rate limiting. If this happens wait a few minutes, then try again.</p>
  </div>

  <div class="row">
  <div class="col">
    <h1>{{ place.name }}</h1>
  {% set q = place.display_name %}

  {{ place_box(place) }}

  <div class="loading">
    <span id="load_wikidata" class="pending">loading names from wikidata</span><br>
    <span id="load_overpass" class="pending">retrieving OSM data from Overpass</span>
    <span id="overpass_slow" class="pending">&nbsp;(this will take a few minutes)</span>
    <br>
    <span id="overpass_error">&nbsp;Overpass error:
      <span id="overpass_error_message"></span><br>
    </span>
    <span id="load_osm2pgsql" class="pending">loading OSM data with osm2pgsql</span>
    <br>
    <span id="osm2pgsql_error">&nbsp;osm2pgsql error:
      <pre id="osm2pgsql_error_message"></pre>
    </span>

    <span id="load_match" class="pending">checking data for matches</span><br>
    <span id="current_item">&nbsp;Current item:
      <span id="item_num"></span> of
      <span id="item_list_count">{{ item_list | count }}</span> &ndash;
      <span id="item_id"></span> &ndash;
      <span id="item_name"></span><br>
    </span>

  </div>

  <p><a href="{{ url_for('candidates', osm_type=osm_type, osm_id=osm_id) }}" id="candidates-link">view match candidates</a></p>

  <p>{{ '{:,d}'.format(place.items.count()) }} items found</p>

  {% for item in place.items %}
    <p>
      <a href="{{ item.wikidata_uri }}">{{ item.qid }}</a>
      &mdash; {{ item.label }}
      &mdash; <a href="{{ item.get_osm_url() }}">Wikidata location on OSM</a>
      <br>
      <ul>
        {% if item.categories %}
          <li>Wikipedia categories: {{ ', '.join(item.categories) }}</li>
        {% endif %}
        {% if item.tag_list %}
          <li>possible OSM tags: {{ ', '.join(item.tag_list) }}</li>
        {% endif %}
      </ul>
    </p>
  {% endfor %}

</div>
</div>
</div>

<script>
var overpass_url = 'https://overpass-api.de/api/interpreter';
var oql = {{ place.get_oql() | tojson }};
var load_wikidata_url = {{ url_for('load_wikidata', place_id=place_id) | tojson }};
var check_overpass_url = {{ url_for('check_overpass', place_id=place_id) | tojson }};
var overpass_timeout_url = {{ url_for('overpass_timeout', place_id=place_id) | tojson }};
var post_overpass_url = {{ url_for('post_overpass', place_id=place_id) | tojson }};
var load_osm2pgsql_url = {{ url_for('load_osm2pgsql', place_id=place_id) | tojson }};
var load_individual_match_url = {{ url_for('load_individual_match', place_id=place_id, item_id=0) | tojson }};
load_individual_match_url = load_individual_match_url.slice(0, -1);

var load_ready = {{ url_for('load_ready', place_id=place_id) | tojson }};
// var items = {{ item_list | tojson }};

</script>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/matcher.js') }}"></script>
{% endblock %}
