{% extends "base.html" %}

{% block title %}Jobs{% endblock %}

{% block content %}
<div class="container my-2">
  {% include "flash_msg.html" %}

  <h1>Jobs</h1>

  <ul>
    {% for endpoint, label in admin_job_lists %}
      {% if request.endpoint != endpoint %}
        <li><a href="{{ url_for(endpoint) }}">{{ label }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <p>There are {{ items | length }} active jobs.</p>

  {% if items %}
  <table class="table">
  {% for i in items %}
    {% set url = 'https://www.openstreetmap.org/' + i.osm_type + '/' + i.osm_id|string %}
    {% set place = i.place %}
    {% set name = place.name_for_changeset %}
    <tr>
      <td>{{ i.start.strftime('%a, %d %b %Y %H:%M:%S') }}</td>
      <td>
        <a href="{{ place.matcher_progress_url() }}">{{ name }}</a>
        |
        <a href="{{ url }}">view on OSM</a>
        |
        {% if i.stopping %}
          job is stopping
        {% else %}
          <a href="{{ url_for('.stop_job', osm_type=i.osm_type, osm_id=i.osm_id) }}">stop job</a>
        {% endif %}
      </td>
      <td>{{ place.display_area }}</td>
      <td>{{ i.subscribers }} subscriber(s)</td>
    </tr>
  {% endfor %}
  </table>
  {% endif %}

</div>
{% endblock %}
