{% extends "base.html" %}

{% block title %}Jobs{% endblock %}

{% block content %}
<div class="container my-2">
  {% include "flash_msg.html" %}

  <h1>Past jobs</h1>

  {% if items %}
  <table class="table">
  {% for i in items %}
    {% set url = 'https://www.openstreetmap.org/' + i.osm_type + '/' + i.osm_id|string %}
    {% set place = i.place %}
    {% set name = place.name_for_changeset %}
    <tr>
      <td class="text-nowrap">{{ i.start.strftime('%a, %d %b %Y %H:%M:%S') }}</td>
      {#
      <td>{{ i.end.strftime('%a, %d %b %Y %H:%M:%S') if i.end else '' }}</td>
      #}
      <td>
        <a href="{{ place.matcher_progress_url() }}">{{ name }}</a>
        |
        <a href="{{ url }}">view on OSM</a>
      </td>
      <td class="text-nowrap text-right">{{ place.display_area }}</td>
      <td class="text-nowrap text-right">
        {% if i.end %}{{ i.display_duration()}}{% endif %}
      </td>
    </tr>
    {% if i.user_agent or i.user or i.remote_addr %}
    <tr>
      <td class="text-nowrap text-right">{{ i.user.username if i.user else '[no auth]' }}</td>
      <td colspan="2">{{ i.user_agent or '' }}</td>
      <td class="text-nowrap text-right">{{ i.remote_addr or '' }}</td>
    </tr>
    {% endif %}
  {% endfor %}
  </table>
  {% endif %}

</div>
{% endblock %}
